DATABASE_URL="postgresql://username:password@localhost:5432/database?schema=public"

FIREBASE_STORAGE_BUCKET=YOURS
FIREBASE_ADMIN_TYPE=YOURS
FIREBASE_ADMIN_ID=YOURS
FIREBASE_ADMIN_KEY_ID=YOURS
FIREBASE_ADMIN_PRIVATE_KEY=YOURS
FIREBASE_ADMIN_CLIENT_EMAIL=YOURS
FIREBASE_ADMIN_CLIENT_ID=YOURS
FIREBASE_ADMIN_AUTH_URI=YOURS
FIREBASE_ADMIN_TOKEN_URI=YOURS
FIREBASE_ADMIN_AUTH_PROVIDER_X509_CERT_URL=YOURS
FIREBASE_ADMIN_CLIENT_X509_CERT_URL=YOURS
FIREBASE_ADMIN_UNIVERSE_DOMAIN=YOURS
